@import "mixins";

.page {
  display: grid;
  overflow: hidden;
  // padding here to position progress bar

  @include desktop {
    gap: 18px;
    padding: 32px var(--main-padding-horizontal);
  }

  @include mobile {
    gap: 16px;
    padding: 28px 0;
  }
}

.sub {
  padding: unset;
  margin-top: 20px;
}

.header {
  @include desktop {
    --font-size-page-title: 36px;
    @include flex(space-between);
  }

  @include mobile {
    --font-size-page-title: 24px;
    display: grid;
    gap: 8px;
    padding: 0 var(--main-padding-horizontal);
  }
}

.title {
  font-size: var(--font-size-page-title);
}

.sub .title {
  font-size: 24px;
}

@include desktop {
  .small {
    gap: 36px;

    .header {
      border-bottom: 1px solid var(--card-border);
      padding-bottom: 18px;
    }

    .main {
      margin: 0 auto;
      width: var(--max-width-small);
      max-width: 100%;
    }
  }
}
